.DS_Store
*.asv
config.yaml
__pycache__/
*.pyc
*.html
*.nc
/python/OceanDB/__pycache__
*.png
.idea/Eddy_Upload_Scripts.iml
python/OceanDB/__pycache__/__init__.cpython-312.pyc
python/OceanDB/__pycache__/AlongTrack.cpython-312.pyc
