name: OceanDB
on:
  push:
    branches: [ "main", "docs" ]

jobs:
  docs-deploy:
    permissions:
      contents: read
      pages: write
      id-token: write


    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      # - name: Checkout
      #   uses: actions/checkout@v4
      - uses: actions/checkout@v5
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13.x'
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install OceanDB and doc dependencies
        run: pip install ".[dev]"
      - name: Build docs
        run: |
          cd docs
          make html
      - name: print working directory
        run: pwd
      - name: list services
        run: ls docs
      - name: Setup GH Pages
        uses: actions/configure-pages@v5
      - name: Upload documentation
        uses: actions/upload-pages-artifact@v3
        with:
          path: './docs/build/html/'
      - name: Deploy to GH Pages
        uses: actions/deploy-pages@v4
